@model Book

<!--Partial View (different way to organized data, could drop in throughout project-->
<tr>
    <td>@Model.Title</td>
    <td>@Model.AuthorFirst</td>
    <td>@Model.AuthorLast</td>
    <td>@Model.Publisher</td>
    <td>@Model.ISBN</td>
    <td>@Model.Classification</td>
    <td>@Model.Category</td>
    <td>@Model.Price</td>
    <td>@Model.Pages</td>
</tr>