@model Book

<!--Partial View (different way to organized data, could drop in throughout project-->
<tr>
    <td>@Model.Title</td>
    <td>@Model.AuthorFirst</td>
    <td>@Model.AuthorLast</td>
    <td>@Model.Publisher</td>
    <td>@Model.ISBN</td>
    <td>@Model.Classification</td>
    <td>@Model.Category</td>
    <td>@Model.Price</td>
    <td>@Model.Pages</td>
    <td>
        <form id="@Model.BookId" asp-page="/Buy" method="post">
            <input type="hidden" asp-for="BookId" />
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                <button type="submit" class="btn-dark btn-sm pull-right" style="float:right">
                    Buy
                </button>
        </form>
    </td>
</tr>